<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Margaret Trame Portfolio - Homepage</title>
  </head>
  <body class="home">
    <div class="home-screen text-center container">
      <h1>Margaret Ann Trame</h1>
      <h3>682-552-6077 • margie.trame@gmail.com</h3>
      <%= link_to "ABOUT ME", about_me_path, class: 'btn btn-lg' %>
    </div>
  </body>
</html>