/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

// Home screen styles
.home {
    height: 100vh;
    background: url('/assets/succulent_backsplash.jpeg');
    background-size: cover;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-screen {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: 0 auto;
    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    h1 {
        font-size: 106px;
        font-size: 7.4vw;
    }
    h3 {
        font-size: 18px;
        //font-size: 1.5vw;
    }
}

.btn {
    color: white;
    border-color: white;
    margin-top: 20px;
    &:hover {
        background: white;
        color: SlateGray;
    }
}

// styles for navbar home button
.navbar-default .navbar-nav > li > .btn-nav {
    border: red;
}
