/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

// Home screen styles
.home {
    height: 100vh;
    background: url('/assets/succulent-flowers-plant-4k.jpeg');
    background-size: cover;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-screen {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: 0 auto;
    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    h1 {
        font-size: 106px;
        //font-size: 6.5vw;
        font-size: 13vh;
        line-height: 1em;
    }
    h3 {
        font-size: 18px;
        font-size: 2.19vh;
        line-height: 1.4em;
    }
}

.home-screen .btn, .navbar .btn {
    color: white;
    border: 2px solid white;
    margin-top: 20px;
    letter-spacing: .1em;
    &:hover {
        background: white;
        color: SlateGray;
    }
}

// Navbar styles
.navbar-toggle {
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: white;
    margin-top: 22px;
    margin-bottom: 22px;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-header .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 22px;
}

.navbar-default .navbar-nav > li > .navbar-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
        background: white;
        color: black;
        opacity: 1;
    }
}

.navbar-default .navbar-nav .work > a {
    padding-right: 0px;
}

.navbar-default .navbar-nav .my-dropdown > a{
    margin-left: -15px;
    background: none !important;
}

.navbar-default .navbar-nav .dropdown-menu {
    background: #222;
    font-family: 'Open Sans', sans-serif;
    > li> a {
        color: white;
        text-align: right;
        &:hover, &:focus {
            background: none;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

// Spaces navbar elements nicely from edges, but creates bug on mobile with being
// able to scroll right into white space
// .navbar .container-fluid {
//     padding-right: 2%;
//     padding-left: 2%;
// }

// About me styles
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: .5px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px
}

.page-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.btn-about {
    padding: 12px 24px;
    border: 2px solid transparent;
    color: white;
    background: black;
    &:hover {
        background: white;
        border: 2px solid black;
        color: black;
    }
}

.img-container {
    padding-top: 46px;
}

.about-buttons {
    display: flex;
    justify-content: center;
}

// Footer styles
.footer-container {
    background: black;
}

.row-top {
    background: #f0f0f0;
    margin-top: 64px;
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: .5px;
    padding: 3px 3px;
}

.row-bot {
    background: black;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-link {
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.25em;
    padding: .75em 1em;
    &:hover {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }
}

// My Work stlyes

.date {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2em;
}

.work-thumb-container {
    margin-top: 18px;
}

.title {
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 4px;
}

.btn-work {
    padding: 1em 2.5em;
    border: 2px solid black;
    color: black;
    background: white;
    &:hover {
        background: black;
        border: 2px solid black;
        color: white;
    }
}

.btn-work, .btn-about {
    //letter-spacing: .1em;
    line-height: 1.1em;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .mobile {
        display: block;
    }
    .desktop, .navbar-default .navbar-nav .desktop {
        display: none;
    }
}


.divider-1 {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.divider-2 {
    border-top: 3px double #8c8b8b;
}
